<div ng-controller="examcon_ctrl" class="bgc_4 mycss">
 
	 <div class="tab_1">
	<div class="form_one bgc_f lh_50" >
	

<div class="row">
	<div class="col-xs-12">
		<div style="float: left;">
			<div ng-include="'static/commonsearch_nocourse.html'"></div>
		</div>
		<div style="float: left;">
 <span class="ml_15">班级：</span>
	<div idv="classCode" class="btn-group w_100 h_30 ys b_1">
	                      <button  type="button" class="t_l btn btn-default  dropdown-toggle w_p100 h_p100 b_0 br_0" data-toggle="dropdown" aria-expanded="false">
	                        <span class="jccode" val="">全年级</span>
	                        &nbsp;
	                        <i class="caret"></i>
	                      </button>
	                      <ul class="dropdown-menu" role="menu">
	                        <li val="{{value.classCode}}" ng-repeat="(key, value) in classes" >
	                          <a val="{{value.classCode}}" ng-bind="value.className"></a>
	                        </li>
	                        
	
	                      </ul>
	                    </div> 
			<span class="ml_15">&nbsp;</span>
			<div class="btn-group w_150">
				<span class="ivbtn hand bgc_blue fc_0" confirmsearch>查 询</span>
			</div>
		</div>
	</div>
</div>


	<!-- 	<span class="ml_15">年级：</span>
	    <div idv="gradeCode" class="btn-group w_100 h_30 ys b_1">
	                      <button  type="button" class="t_c btn btn-default  dropdown-toggle w_p100 h_p100 b_0 br_0" data-toggle="dropdown" aria-expanded="false">
	                        <span class="jccode" val="{{titleda.gradeCode}}" ng-bind="titleda.gradeName"></span>
	                        &nbsp;
	                        <i class="caret"></i>
	                      </button>
	                      <ul class="dropdown-menu" role="menu">
	                        <li  val="{{value.gradeCode}}" ng-repeat="(key, value) in gradedata" gradeexam>
	                          <a val="{{value.gradeCode}}" ng-bind="value.gradeName"></a>
	                        </li>
	                        
	
	                      </ul>
	                    </div>
	 
	    <span class="ml_15">考 试：</span>
	      
	    <div idv="examCode" class="btn-group w_200 h_30 ys b_1">
	                      <button  type="button" class="t_c btn btn-default  dropdown-toggle w_p100 h_p100 b_0 br_0" data-toggle="dropdown" aria-expanded="false">
	                        <span class="jccode" val=""></span>
	                        &nbsp;
	                        <i class="caret"></i>
	                      </button>
	                      <ul class="dropdown-menu" role="menu">
	                        <li  val="{{value.examId}}" ng-repeat="(key, value) in examList" examclass>
	                          <a val="{{value.examId}}" ng-bind="value.examName"></a>
	                        </li>
	                        
	
	                      </ul>
	                    </div> 
	
	
	
	
	     <span class="ml_15">班级：</span>
	<div idv="classCode" class="btn-group w_100 h_30 ys b_1">
	                      <button  type="button" class="t_l btn btn-default  dropdown-toggle w_p100 h_p100 b_0 br_0" data-toggle="dropdown" aria-expanded="false">
	                        <span class="jccode" val="" ></span>
	                        &nbsp;
	                        <i class="caret"></i>
	                      </button>
	                      <ul class="dropdown-menu" role="menu">
	                        <li val="{{value.classCode}}" ng-repeat="(key, value) in classes" >
	                          <a val="{{value.classCode}}" ng-bind="value.className"></a>
	                        </li>
	                        
	
	                      </ul>
	                    </div> 
	
	
	
	
	                    
	
	                  <span class="ml_15">&nbsp;</span>
	                    <div class="btn-group w_150">
	                       <span class="ivbtn hand bgc_blue fc_0" confirmsearch>查 询</span>
	                        
	                    </div> -->






 
        

              
	</div> 
 

	<div class="h_20"></div>

	<div>
		<div class="bgc_7 lh_40">
		 <span class="fc_0 ml_15" id="tabletitle"><img src="images/li_03.png">

      <span ng-bind="commongradedata[gri.index].gradeName"></span>&nbsp;
      <span ng-bind="commongradedata[gri.index].exams[exi.index].examName"></span> &nbsp;班级学生考试确认</span>
<!--       <a class="fr mr_15"><img  width="25" src="images/print.png"></a>
<a class="fr mr_15"><img width="25" src="images/xls.png"></a>
     

<div class="fr btn-group w_250 h_30 ys mr_40">
         <input class="inputv" type="text" placeholder="请输入姓名">
         </div> -->
		</div>
		
		<div class="b_2 pd_15  bgc_f">

		 
		 	<table class="table table-bordered">
      
		      <tbody>
		      <tr class="fw_b bgc_4">
              <td width="100">班级</td>
		          <td height="40"  width="100">座号</td>
              <td >姓名</td>
		          <td width="300">是否参加本次考试</td>
		           
		          
		        </tr>
		        <tr ng-repeat="(key, value) in maindata" ng-cloak>
               <td width="100"><span ng-bind="value.className"></span></td>
		         <td height="30"  width="100"><span ng-bind="value.seatNum"></span></td>
               <td ><span ng-bind="value.studentName"></span></td>
		          <td >
<div class="chkbox" ng-if="value.examSeatNum" >
        <a class="w_80 h_20 lh_19"  ng-class="{true: 'chkactive', false: 'chk'}[value.isattend ==1]" tip="1" attr="isattend">
        <span>是</span> &nbsp;&nbsp;<img class="one" src="images/v1.png"><img  class="two" src="images/v2.png">
        </a> 
        <a class="w_80 h_20 lh_19"   ng-class="{true: 'chkactive', false: 'chk'}[value.isattend ==0]" tip="0" attr="isattend">
        <span>否</span> &nbsp;&nbsp;<img  class="one"  src="images/v1.png"><img class="two"  src="images/v2.png">
        </a>
        </div>

<div class="chkbox" ng-if="!value.examSeatNum" >
        <a class="w_80 h_20 lh_19" mychkupdate ng-class="{true: 'chkactive', false: 'chk'}[value.isattend ==1]" tip="1" attr="isattend">
        <span>是</span> &nbsp;&nbsp;<img class="one" src="images/v1.png"><img  class="two" src="images/v2.png">
        </a> 
        <a class="w_80 h_20 lh_19" mychkupdate  ng-class="{true: 'chkactive', false: 'chk'}[value.isattend ==0]" tip="0" attr="isattend">
        <span>否</span> &nbsp;&nbsp;<img  class="one"  src="images/v1.png"><img class="two"  src="images/v2.png">
        </a>
        </div>

		          </td>
		            </tr>

		      
		        
		      </tbody>
		    </table>
<div class="h_80"></div>
         <div class="ksfanhui">
		   <div class=" myfix">
       <hr>
                  <a href="#/teach/exam_process" class="savebtn bgc_6 mr_15">返回考试流程图</a>
			      <a class="savebtn bgc_6" updataconfirm="">提交变更</a>
		  </div>
		</div>

		</div>
		
	</div>
</div>
<!-- 第一个tab -->
  </div>




<!-- 弹出窗口 -->
<div id="printWin" class="w_450 dpn mg_auto mycss">
	

	<div class="row lh_50">
		<div class="col-xs-3 t_r"><span class="fc_1">表格标题：</span></div>
		<div class="col-xs-7">
			 <div class="btn-group w_308">
         <input type="text"  placeholder="" ng-model="printdata.title" class="form-control"> 
    </div>
		</div>
		<div class="col-xs-2">&nbsp;</div> 
	</div>
	<div class="row lh_50">
		<div class="col-xs-3 t_r"><span class="fc_1">起始页码：</span></div>
		<div class="col-xs-7">
			 <div class="btn-group w_308">
         <input type="text"  placeholder="" ng-model="printdata.pageNum" class="form-control"> 
    </div>
		</div>
		<div class="col-xs-2">&nbsp;</div> 
	</div>

	<div class="row lh_50">
		<div class="col-xs-3 t_r">&nbsp;</div>
		<div class="col-xs-7 t_c">
			<div class="t_c">
 <a class="savebtn bgc_6" printconfig>确定</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="savebtn bgc_1" closewin>取消</a>
		      </div>
	  
		</div>
		<div class="col-xs-2">&nbsp;</div> 
	</div>


</div>
<!-- 弹出窗口 -->
