<div ng-controller="hall_ctrl" class="bgc_4 mycss">
 
	 <div class="form_one tab_1">
	 	<div class="bgc_f lh_50">
    <span class="ml_15">年级：</span>
    <div idv="gradeCode" class="btn-group w_100 h_30 ys b_1">
                      <button  type="button" class="t_c btn btn-default  dropdown-toggle w_p100 h_p100 b_0 br_0" data-toggle="dropdown" aria-expanded="false">
                        <span class="jccode" ng-if="value.now=='active'" ng-repeat="(key, value) in hallgradedata" val="{{value.gradeCode}}" ng-bind="value.gradeName"></span>
                        &nbsp;
                        <i class="caret"></i>
                      </button>
                      <ul class="dropdown-menu max_300" role="menu">

                        <li  val="{{value.gradeCode}}" ng-repeat="(key, value) in hallgradedata" hallgradechange>
                          <a val="{{value.gradeCode}}" ng-bind="value.gradeName"></a>
                        </li> 
                      </ul>
                    </div> 


        <span class="ml_15">考试：</span>
    <div idv="examCode" class="btn-group w_200 h_30 ys b_1">
                      <button  type="button" class="t_c btn btn-default  dropdown-toggle w_p100 h_p100 b_0 br_0" data-toggle="dropdown" aria-expanded="false">
                        <span class="jccode" ng-repeat="(key, value) in hallgradedata[gri.index].examList" ng-if="value.now=='active'" val="{{value.examId}}" ng-bind="value.examName"></span>
                        &nbsp;
                        <i class="caret"></i>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li  val="{{value.examId}}" ng-repeat="(key, value) in hallgradedata[gri.index].examList" hallexamchange>
                          <a val="{{value.examId}}" ng-bind="value.examName"></a>
                        </li> 
                      </ul>
                    </div>  

	 <!-- 	<div ng-include="'static/commonsearch_nocourse.html'"></div> -->

		<!-- <span class="ml_15">年级：</span>
		<div class="btn-group w_100 h_30 ys b_1">
		                      <button  type="button" class="t_c btn btn-default  dropdown-toggle w_p100 h_p100 b_0 br_0" data-toggle="dropdown" aria-expanded="false">
		                        <span class="jccode" val="{{grti.gradeCode}}" ng-bind="grti.gradeName"></span>
		                        &nbsp;
		                        <i class="caret"></i>
		                      </button>
		                      <ul class="dropdown-menu max_300" role="menu">
		                        <li  val="{{value.gradeCode}}" ng-repeat="(key, value) in gradedata" hallexam>
		                          <a val="{{value.gradeCode}}" ng-bind="value.gradeName"></a>
		                        </li>  
		                      </ul>
		        </div> 
		
		        <span class="ml_15">考试：</span>
		<div idv="examCode" class="btn-group w_200 h_30 ys b_1">
		                      <button  type="button" class="t_c btn btn-default  dropdown-toggle w_p100 h_p100 b_0 br_0" data-toggle="dropdown" aria-expanded="false">
		                        <span class="jccode" val="{{exti.examCode}}" ng-bind="exti.examName"></span>
		                        &nbsp;
		                        <i class="caret"></i>
		                      </button>
		                      <ul class="dropdown-menu" role="menu">
		                        <li  val="{{value.examId}}" ng-repeat="(key, value) in examList" sethallexam>
		                          <a val="{{value.examId}}" ng-bind="value.examName"></a>
		                        </li>
		                        
		
		                      </ul>
		                    </div>  --> 

              
	</div> 
	<div class="bgc_f lh_50">
		 


 <span class="ml_15">模板：</span>
		<div idv="Temp"  class="btn-group w_200 h_30 ys b_1">
                      <button  type="button" class="t_c btn btn-default  dropdown-toggle w_p100 h_p100 b_0 br_0" data-toggle="dropdown" aria-expanded="false">
                        <span class="jccode" val="" >请选择模板</span>
                        &nbsp;
                        <i class="caret"></i>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                      <li  val="">
                          <a val="" >请选择模板</a>
                        </li>
                        <li  val="{{value.examId}}" ng-repeat="(key, value) in hallgradedata[gri.index].examTemplateList">
                          <a val="{{value.examId}}" ng-bind="value.examName"></a>
                        </li>
                        

                      </ul>
                    </div>  

                    <div class="btn-group w_150 ml_15">
                       <span class="ivbtn hand bgc_5 fc_0" sethall>读取模板</span> 
                    </div>

        

              
	</div> 
 

	<div class="h_20"></div>

	<div>
		<div class="bgc_7 lh_40"> 
<span class="fc_0 ml_15" id="tabletitle">
          <img src="images/li_03.png">
          <span ng-bind="hallgradedata[gri.index].gradeName"></span>
          <span ng-bind="hallgradedata[gri.index].examList[exi.index].examName"></span> 
          考场分配
          <span ng-if="senddata.templateExamId!=''">(模板：{{titledata.title}})</span> 
        </span>


 

		<!--  标题头 -->
 

     <a class="fr mr_15 hand ml_10 opt" print><img width="25" src="images/print.png">  <span class="fc_0">打印</span></a>
     <!-- <a class="fr mr_15 hand ml_10 opt" export><img  width="25" src="images/xls.png"> <span class="fc_0">复制表格</span></a> -->
     <a id="zclipcon" class="fr mr_15 hand ml_10 opt"><img  width="25" src="images/xls.png"> <span class="fc_0">复制表格</span></a>
 
      <!--  标题头 -->
		 
		</div>
		
		<div class="b_2 pd_15  bgc_f" id="printtable">


		 	<table class="table table-bordered normaltable">
      
		        
		      <thead>
		      <tr class="fw_b bgc_4">
		      <td height="40"  width="100"><input chkall type="checkbox" class="cb" ></td>
		          <td height="40" width="100">序号</td>
		          <td width="100" ng-show="coursetypelist.length>1">科类</td>
		          <td >考场</td>
		           <td >安排座数</td>
		           <td >座位列数</td>
		           <td >座位布局</td>
		           <td >布局是否设置</td>
		           <td >备注<div contenteditable="true" id="exceledit" style="width: 1px;height: 1px;overflow: hidden; float: left"> </div></td>
		          
		        </tr>
		        </thead>
		        <tbody>
		        <tr ng-repeat="(key, value) in maindata" >
		         <td height="30" ><input delchk="{{value.examAssId}}" class="cb" type="checkbox"></td>
		          <td height="30" ><span >{{key+1}}</span></td>
		         <td width="100" ng-show="coursetypelist.length>1">

		         	<div class="btn-group w_100 h_30 ys b_1">
                      <button  type="button"  class="t_c btn btn-default  dropdown-toggle w_p100 h_p100 b_0 br_0" data-toggle="dropdown" aria-expanded="false">
                        <span class="jccode" val="{{value.courseType}}" ng-bind="value.courseType"></span>
                        &nbsp;
                        <i class="caret"></i>
                      </button>
                      <ul class="dropdown-menu max_300" role="menu" >
                        <li  val="{{key}}" ng-repeat="(key1, value1) in coursetypelist" setcoursetype>
                          <a val="{{value1.courseTypeName}}" ng-bind="value1.courseTypeName"></a>
                        </li>  
                      </ul>
        			</div> 
				
<!-- 		         <input class="ipone_c" name="courseType"  ng-model="value.courseType" value="{{value.courseType}}" ysmod> -->

		         </td>
		          <td ><input class="ipone_d" name="examAddress" value="{{value.examAddress}}" ng-model="value.examAddress" adresspaste> </td>
		           <td ><input class="ipone_c" name="containCount" value="{{value.containCount}}" ng-model="value.containCount" ysmodsv> </td>
		           <td ><input class="ipone_c" name="seatClos"  value="{{value.seatClos}}" ng-model="value.seatClos" ysmodsv></td>
		          
		           <td ><a class="hand" hallset="{{value.lotnumber}}">设置与预览</a></td>
		            <td>
              <!-- <input class="ipone_c" readonly="true" name="lotnumber"  ng-model="value.lotnumber" value="{{value.lotnumber}}" ysmod> -->
              			<span ng-if="value.lotnumber==null||value.lotnumber==''" class="fc_2">否</span>
              			<span ng-if="value.lotnumber!=null&&value.lotnumber!=''" class="fc_3">是</span>
		           </td>
		           <td ><input class="ipone_c" name="comment"  ng-model="value.comment" ysmod value="{{value.comment}}"></td>
		          
		            </tr>

		           
		        
		      </tbody>
		    </table>

</div>

			<div class="h_80"></div>
		    <div class="myfix">
		    	  <hr>
		    	  <a class="savebtn bgc_blue ml_15 fl" href="#/teach/exam_process">返回考试流程图</a>
		    	  <a class="savebtn bgc_blue ml_15 fl" normaldelete="examRoomAsgmnt/ExamAsgmtList/deleteBatch">删除</a>
			      <a class="savebtn bgc_blue ml_15 fl" examhalladdrow>添加行</a>
			      <a class="savebtn bgc_blue ml_15 fl"  saveexamhall>保存</a>

			      <div class="lh_40 fc_1 ml_30 fl"><span>参考人数：<span ng-bind="attendCount"></span>人<span ng-if="courseAttendList.length>1">（<span ng-bind="courseAttendListstr"></span>）</span>  考场数：<span ng-bind="kaochang(maindata)"></span>  &nbsp;&nbsp;&nbsp;&nbsp;  座位数：<span ng-bind="seatCount(maindata)"></span><span ng-if="courseAttendList.length>1">（<span ng-bind="courseSeatListstr(maindata)"></span>）</span></span></div>
		  </div>
		</div>
		
	
</div>
<!-- 第一个tab -->



<!-- 第二个tab -->
	 <div class="tab_2 dpn">
	<div class="bgc_f lh_50">
		<span>导入年级：</span>&nbsp;
		 

		&nbsp;&nbsp;&nbsp;&nbsp;<span>文件路径：</span>
		<span> C://wwwadf.xls</span>

		<div class="btn-group w_308 t_r">
                        <span class="itbtn hand bgc_1 fc_0">上一步</span>
                       
                    </div>

        <div class="btn-group w_150">
                       <span class="itbtn hand bgc_5 fc_0">确认上传</span>
                        
                    </div>

		
	</div> 
 

	<div class="h_20"></div>

	<div>
		<div class="bgc_7 lh_40">
		 <span class="fc_0 ml_15"><img src="images/li_03.png"> 学生常用信息</span>
		</div>
		<div class="b_2 pd_15  bgc_f">
		 	<table class="table table-bordered normaltable">
      
		      <tbody>
		      <tr class="fw_b bgc_4">
		          <td height="30"  width="100">序号</td>
		          <td >班级</td>
		          <td >座位号</td>
		           <td >姓名</td>
		           <td >电话</td>
		           <td >校卡卡号</td>
		            <td >备注</td>
		          
		        </tr>
		        <tr ng-repeat="(key, value) in maindata">
		          <td height="30" >1</td>
		          <td>{{value.gradeCode}}</td>
		          <td>34 </td>
		          <td>陈倩</td>
		          <td>15655585545</td>
		          <td>0012254</td>
		          <td> </td>
		            </tr>

		             
		        
		      </tbody>
		    </table>
		</div>
		
	</div>
</div>
<!-- 第二个tab -->	 

 <!-- 排位页面 -->
	<div id="hallset" class="dpn"> 
		<div class="pd_15  bgc_f ps_r">

		<div class="lh_30 fc_1"><span>排位方法：</span></div>
		<div class="ps_r">
		<div class="chkbox pd_5 bb_1 f_14" id="pType">
	    	<a class="w_120 h_30 lh_26" sschk tip="2"  ng-class="{true: 'chkactive', false: 'chk'}[laydata.type==2]" >
	    	<span>原排序</span> &nbsp;&nbsp;<img  class="one"  src="images/v1.png"><img class="two"  src="images/v2.png">
	    	</a>
	    	<a class="w_120 h_30 lh_26" ng-class="{true: 'chkactive', false: 'chk'}[laydata.type==1]" sschk tip="1">
	    	<span>S型排列</span> &nbsp;&nbsp;<img class="one" src="images/v1.png"><img class="two" src="images/v2.png">
	    	</a> 
	    	<a class="w_120 h_30 lh_26" sschk tip="0"  ng-class="{true: 'chkactive', false: 'chk'}[laydata.type==0]" >
	    	<span>顺序排列</span> &nbsp;&nbsp;<img  class="one"  src="images/v1.png"><img class="two"  src="images/v2.png">
	    	</a>

	    	<div class="fr w_100 b_1 tb hand" tbshowhide>同步至其他考场</div>
	    	<div class="w_508 pd_15 b_1 tbchl dpn">
	    		<div><a class="ivbtn bgc_blue fc_0 hand" exhallselectall>全选</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="ivbtn bgc_blue fc_0 hand" exhallclrall>清空</a> </div>
	    		<div class="mt_10 mb_10">
	    			<div class="chkbox t_l">
	    	<a ng-repeat="(key, value) in maindata" class="plr_5 h_30 lh_26 m_5" ng-class="{false: 'chkactive', true: 'chk'}[value.selected==0]" myselecttwo='{{value.selected}}' tip="1">
	    	<span ng-bind="value.examAddress"></span>&nbsp;<img class="one" src="images/v1.png"><img class="two" src="images/v2.png">
	    	</a> 

	    	</div>


	    		</div>
	    		<div class="mycss">
	   <a class="ivbtn bgc_blue fc_0" tbshowhide>确 定</a>&nbsp;&nbsp;&nbsp;&nbsp; 
	    </div>
	    	</div>
	    	</div>	

		</div>

		
		<div class="t_c">
			<span class="hall_jd">讲台</span>
		</div>
		<div class='gridly h_630'>
           <ul id="gridcc">
          <!-- <li url="{{key+1}}" class="noshow myli" seatNumber="{{value.seatNumber}}"  seatRow="{{value.seatRow}}"  seatCol="{{value.seatCol}}" ng-repeat="(key, value) in dataset" >{{key}}{{value.seatNumber}}</li>-->
           	 <li url="{{key+1}}" class="noshow myli" seatnumber="{{value.seatNumber}}"  seatrow="{{value.seatRow}}"  seatcol="{{value.seatCol}}" ng-repeat="(key, value) in dataset" style="position: absolute; left: {{value.leftp}}px; top: {{value.rightp}}px; margin: 0px;{{value.show}} " ng-bind="value.seatNumber"></li> <!-- background: #fff; color:#fff;box-shadow: 0px 0px 2px #CACACA; -->
           	 
           </ul>
        </div> 
        <div class="t_c fiexdbottom">
			      <a class="savebtn bgc_blue ml_15" savebuju>保 存</a>&nbsp;&nbsp;&nbsp;&nbsp;  <a class="savebtn bgc_gray fc_4" closewin>取消</a>
			     
		  </div> 
		</div>
		
	</div>
 <!-- 排位页面 -->
 <!-- 弹出窗口 -->
  <div id="printWin" class="w_450 dpn mg_auto mycss">
    
  
    <div class="row lh_50">
      <div class="col-xs-3 t_r"><span class="fc_1">表格标题：</span></div>
      <div class="col-xs-7">
         <div class="btn-group w_308">
             <input type="text"  placeholder="" ng-model="printdata.title" class="form-control"> 
        </div>
      </div>
      <div class="col-xs-2">&nbsp;</div> 
    </div>
    <div class="row lh_50">
      <div class="col-xs-3 t_r"><span class="fc_1">起始页码：</span></div>
      <div class="col-xs-7">
         <div class="btn-group w_308">
             <input type="text"  placeholder="" ng-model="printdata.pageNum" class="form-control"> 
        </div>
      </div>
      <div class="col-xs-2">&nbsp;</div> 
    </div>
    <div class="dayinp"><p>注：打印和电子表格生成功能耗时较长，点击后请耐心等待。打印预览窗口可能出现在浏览器背后。</p></div>

    <div class="row lh_50">
      <div class="col-xs-3 t_r">&nbsp;</div>
      <div class="col-xs-7 t_c">
        <div class="t_c">
   <a class="savebtn bgc_6" printconfighall>确定</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="savebtn bgc_6" closewin>取消</a>
            </div>
      
      </div>
      <div class="col-xs-2">&nbsp;</div> 
    </div>


  </div>

<!-- 弹出窗口 -->
</div>



 