<!DOCTYPE html>
<html  >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>英泰教育</title>
 
<link rel="stylesheet" href="../../bootsrap3/css/bootstrap.css">
<link rel="stylesheet" href="../../js/layer/skin/layer.css">
<link rel="stylesheet" href="../../css/css.css">
	
	<!-- YSframe框架 基于seajs -->
	<script src="../../YS-asset/YS-frame/seajs/2.2.0/sea.js" ></script>  
 
	<!-- 主入口配置js文件 -->
	<script src="../../YS-asset/main.js"></script>

</head>
<body class="bgc_4 mycss">
	 <div class="h_20"></div>
<!--  <div class="tab_y">
		<span class="itbtn hand bgc_1 active fc_0" tab="1"> &nbsp;&nbsp;成绩录入</span> 
		<span class="itbtn hand bgc_1 fc_1"  tab="2"> &nbsp;&nbsp;授权他人录入</span>
	</div>
	 <div class="h_20"></div>  -->

<!-- 第一个tab -->
	 <div ng-controller="mark_ctrl_sing" class="tab_1">

	<div class="form_two tittwo bgc_f lh_50">
					<span class="ml_15">年 级：</span>
					<div  class="btn-group w_80 h_30 ys lh_30">
                    <span ng-bind="pagedata.gradeName"></span>   
                    </div>

                    <span class="ml_15">考试：</span>
					<div  class="btn-group w_100 h_30 ys lh_30">
                    <span ng-bind="pagedata.examName"></span>   
                    </div>  


                    <span class="ml_15">科目：</span>
					<div  class="btn-group w_100 h_30 ys lh_30">
                    <span ng-bind="pagedata.courseName"></span>   
                    </div>  

<!--                    	<span>文件路径：</span>
                    <div class="btn-group w_200">
                      <input type="text" id="file_show" class="form-control"> 
                    </div>
                    <div class="btn-group w_100">
                       <span class="ivbtn hand bgc_blue fc_0">选择文件</span> 
                    </div> -->

<!--     <div class="btn-group ps_r">
   <form id="picture_form" style="display: inline-block;position: absolute;" action="../../examResult/showExamResult" method="post" enctype="multipart/form-data" ><input name="FILE" fileset id="file_upload" class="fileinput" type="file">
					<input type="hidden" name="gradeCode" id="gradeCode" ng-model="temone.gradeCode">
					<input type="hidden" name="examCode" id="examCode">
					<input type="hidden" name="courseIndex" id="courseIndex"> 
                   </form> 
</div>  -->

<!--         <span class="ml_15"></span> 
            <div class="btn-group w_100">
               <span class="ivbtn hand bgc_blue fc_0" scorefile>预 览</span> 
            </div>  -->

                   
              
	</div>
 

	<div class="h_20"></div>

<!-- 成绩录入 第二面列表内容 -->
		<div class="littwo">
		<div class="bgc_7 lh_40">
		 <span class="fc_0 ml_15"><img src="../../images/li_03.png"><a ng-bind="pagedata.courseName"></a>-<a ng-bind="pagedata.courseType"></a> 成绩录入</span>

     <div class="fr btn-group w_50 h_30 ys mr_40">
         <input class="inputv t_c" type="text" ng-model="temscore" placeholder="设置最大分数值">
         </div>
         <div class="fr btn-group w_250 h_30 ys t_r">
         	<span class="fc_0">设置最大分数值:</span> 
         </div>
		</div>
			<div class="b_2 pd_15  bgc_f">
		 	<table class="table table-bordered">
      
		      <tbody>
		      <tr class="fw_b bgc_4">
		          <td height="40" >序号</td>
		          <!-- <td >年级</td> -->
		           <td >班级</td>
		           <td >班级座号</td>
		           <td >考号</td>
		           <td >考场</td>
		           <td >考场座号</td> 
		           <td >姓名</td>
		           <td >全卷（单科总分）
		            <div contenteditable="true" id="exceledit" style="width: 1px;height: 1px;overflow: hidden; float: left"> </div></td> 
		        </tr>
		        <tr ng-repeat="(key, value) in maindatatwo">
		         <td height="30" >{{key+1}}</td>
		          <!-- <td >{{value.gradeName}}</td> -->
		           <td ng-bind="value.className"></td>
		           <td ng-bind="value.seatNum"></td>
		           <td ng-bind="value.stuExamNumber"></td>
		           <td ng-bind="value.examAddress"></td>
		           <td ng-bind="value.examSeatNum"></td> 
		           <td ng-bind="value.studentName"></td>
		          <td class="ps_r {{value.myclass}}">
		          <div class="floattip">分数必须小于<span ng-bind="temscore"></span></div> 
		            <input class="ipone_d enter" enter ng-keyup="cheknum(value.score,value)" max="{{temscore}}" name="score" ng-model="value.score">
		           </td> 
		           
		            </tr>

		           
		        
		      </tbody>
		    </table>
<div class="h_80"></div>
		     <div class="myfix">
		     	<hr>
			       <a class="savebtn bgc_blue" delallmark>清空全部成绩</a>
			       <a class="savebtn bgc_blue" savemarkexprot>保存</a>
		  </div>
		</div>
		
	</div>
	<!-- 成绩录入 第二面列表内容 -->
	
</div> 

<!-- 弹出窗口 -->
	<div id="printWin" class="w_450 dpn mg_auto mycss">
		
	
		<div class="row lh_50">
			<div class="col-xs-3 t_r"><span class="fc_1">表格标题：</span></div>
			<div class="col-xs-7">
				 <div class="btn-group w_308">
             <input type="text"  placeholder="" ng-model="printdata.title" class="form-control"> 
        </div>
			</div>
			<div class="col-xs-2">&nbsp;</div> 
		</div>
		<div class="row lh_50">
			<div class="col-xs-3 t_r"><span class="fc_1">起始页码：</span></div>
			<div class="col-xs-7">
				 <div class="btn-group w_308">
             <input type="text"  placeholder="" ng-model="printdata.pageNum" class="form-control"> 
        </div>
			</div>
			<div class="col-xs-2">&nbsp;</div> 
		</div>

		<div class="row lh_50">
			<div class="col-xs-3 t_r">&nbsp;</div>
			<div class="col-xs-7 t_c">
				<div class="t_c">
	 <a class="savebtn bgc_6" printconfig>确定</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="savebtn bgc_1" closewin>取消</a>
			      </div>
		  
			</div>
			<div class="col-xs-2">&nbsp;</div> 
		</div>


	</div>
<!-- 弹出窗口 -->
</body>
</html>
 